form{
    display: flex;
    flex-direction: column;
}
label{
    cursor: pointer;
    padding: 1rem;
}
input{
    margin-left: 0.3rem;
    padding: 0.5rem;
    min-width: 1rem;
    min-height: 1rem;
}
#btnSubmit{
    color: var(--primary);
    text-transform: uppercase;
    background-color: var(--backGround);
    box-shadow: var(--contentShadown);
}
#btnSubmit:hover{
    background-color: darkcyan;
    box-shadow: var(--contHovShadown);
}
#spnPassword{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: darkcyan;
}
#spnValidate{
    font-weight: bold;
}
.errorText{
    color: red;
    font-weight: 400;
    font-size:small;
}