menu{
    margin: 0 0 1rem;
    padding: 1rem;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: var(--contentShadown);
}
nav{
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0.01rem solid lightgray;
    background-color: black;
    color: var(--primary);
}
nav:hover{
    background-color: var(--btnHover);
    box-shadow: var(--contHovShadown);
}